<md-dialog flex="30" style="left: 7%" ng-init="vm.loadinitial()"> 
  <form name="vm.reminderForm" novalidate autocomplete="off">
    <div class="modal-header bg-primary">
      <h4>{{vm.reminder._id ? 'Edit reminder' : 'Create reminder'}}</h4>
    </div>
       <md-dialog-content style="padding-left: 24px">         
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div layout="column" flex>
              <md-input-container flex>
                <label class="my-label">Title</label>
                <input required type="text" name="title" ng-model="vm.reminder.title"/>
                <div ng-messages="vm.reminderForm.title.$error">
                  <div ng-message="required">Title is required.</div>
                </div>
              </md-input-container>    
              <md-input-container flex-gt-md="30">
                <label>Remind me on</label>
                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
                placeholder="Date" show-todays-date="" min-date="" ng-model="vm.reminder.reminderDateTime" class=" md-input"
                readonly="readonly" name="start" required>
                <div ng-messages="vm.reminderForm.start.$error">
                    <div ng-message="required">Reminder date is required.</div>
                  </div>
              </md-input-container> 
              <md-input-container flex-gt-md="30">
                <label>Need to notify ?</label>
                <md-switch ng-model="vm.hasReminded"></md-switch>
              </md-input-container>     
             </div>

          </div>
      </md-dialog-content>
     <md-dialog-actions layout="row"> 
        <md-button class="btn btn-next btn-fill btn-success btn-wd"  ng-hide="ui.isReminderInProgress" flex ng-click="vm.save(vm.reminderForm.$valid)" type="submit">{{vm.reminder._id ? 'Update' : 'Create'}}</md-button>
        <md-button class="btn btn-next btn-fill btn-success btn-wd"  ng-disabled="true" flex ng-show="ui.isReminderInProgress" type="submit"><i class="fa fa-spinner fa-spin"></i> {{vm.reminder._id ? 'Updating' : 'Creating'}}</md-button>
        <md-button class="btn btn-next btn-fill btn-warning btn-wd" flex ng-click="vm.cancel()" type="submit">Cancel</md-button>
      </md-dialog-actions>   
  </form>
</md-dialog>
