<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Hydro Registered Successfully</title>
</head>

<body>
  <p>Dear {{name}},</p>  
  <p>
    Welcome to Hydro !!!
  </p>
  <p>
    Your login credentials are: <br />
    <strong>Email: </strong>   {{email}} <br />
    <strong>Password: </strong> {{password}}
  </p>
  <p>Please click here for user login:</p>
  <p>{{url}}</p>
  <strong>If you didn't make this request, you can ignore this message.</strong>
  <br />
  <p>The {{appName}} Support Team</p>
</body>

</html>