<div class="container" ng-controller="HeaderController as vm">
  <div class="topbar" ng-show="vm.authentication.user" ng-style="vm.commonService.getIsAllowToClick ? {'pointer-events': 'none'} : {'pointer-events': 'visible'}">
    <div class="header-left">
      <div class="topnav">
        <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
        <ul class="nav nav-icons">
          <!-- <li><a href="/contacts" title="Contacts"><span class="icon-user-following"></span></a></li>
          <li><a href="/file-managers" title="File-managers"><span class="icon-doc"></span></a></li>
          <li><a href="/reminders" title="Reminders"><span class="mdi-action-alarm"></span></a></li>
          <li><a href="builder-page.html"><span class="octicon octicon-rocket"></span></a></li> -->
        </ul>
      </div>
    </div>
    <div class="header-right">
      <ul class="header-menu nav navbar-nav">
        <!-- BEGIN USER DROPDOWN -->
        <li class="dropdown" id="notifications-header">
          <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <i class="icon-bell faa-ring undefined visible" ng-class="{ animated : vm.originalReminders.length !== vm.reminders.length }"></i>
              <span class="badge badge-danger badge-header faa-ring undefined visible" ng-class="{ animated: vm.originalReminders.length !== vm.reminders.length }">{{vm.reminders.length}}</span>
            </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header clearfix">
              <p class="pull-left">You have {{vm.reminders.length}} reminders today</p>
            </li>
            <li>
              <ul class="dropdown-menu-list withScroll" data-height="220">
                <li ng-repeat="reminder in vm.reminders | orderBy: 'reminderDateTime'">
                  <a ng-click="reminderViewed(reminder)">
                      <span class="glyphicon glyphicon-time" style="color: orange"></span>
                     <small> {{reminder.title}}</small>
                     <span class="dropdown-time">{{inHour(reminder.reminderDateTime)}}</span> <br />
                     <span class="dropdown-time">Okay, Got it</span>
                    </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- END USER DROPDOWN -->
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <li class="dropdown" id="messages-header">
          <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-paper-plane"></i>
            <span class="badge badge-danger badge-header">{{vm.commonService.hasExecutive(vm.authentication) || vm.commonService.hasVp(vm.authentication) ? vm.meetings.length + vm.events.length + vm.notifications.length : vm.meetings.length + vm.notifications.length}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header clearfix">
              <p class="pull-left">{{vm.commonService.hasExecutive(vm.authentication) || vm.commonService.hasVp(vm.authentication) ? vm.meetings.length + vm.events.length + vm.notifications.length : vm.meetings.length + vm.notifications.length }} Pending Notifications</p>
            </li>
            <li>
              <ul class="dropdown-menu-list withScroll" data-height="220">
                <li ng-repeat="event in vm.events | orderBy: '-appliedOn'" ng-init="getProfileDetails(event)" ng-if="vm.commonService.hasExecutive(vm.authentication) || vm.commonService.hasVp(vm.authentication)">
                  <a ng-click="approveLeave(event)">
                    <span class="glyphicon glyphicon-time" style="color: orange"></span>
                   <small> {{event.user.displayName}} has applied for {{event.category === vm.LEAVE ? 'Leave'  : 'Permission' }}</small>
                    <span class="dropdown-time">{{inHour(event.appliedOn)}}</span>
                  </a>
                </li>
                <li ng-repeat="meeting in vm.meetings | orderBy: 'startDateTime'">
                  <a ng-click="alertAboutMeeting()">
                    <span class="glyphicon glyphicon-bell" style="color: orange"></span>
                   <small> {{meeting.title}} {{inHour(meeting.startDateTime)}}</small>
                    <span class="dropdown-time">{{inHour(meeting.startDateTime)}}</span>
                  </a>
                </li>
                <li ng-repeat="notification in vm.notifications | orderBy: 'created'">
                  <a ng-click="handleMyPersistentNotifications(notification)" ng-if=" notification.type == 'task' ">
                    <span class="glyphicon glyphicon-tasks" style="color: red"></span>
                    <small> Task assigned/updated by {{notification.user.displayName}}</small>
                    <span class="dropdown-time">{{inHour(notification.created)}}</span>
                  </a>
                  <a ng-click="handleMyPersistentNotifications(notification)" ng-if=" notification.type == 'meeting' ">
                    <span class="glyphicon glyphicon-calendar" style="color: green"></span>
                    <small> Meeting created/updated by {{notification.user.displayName}}</small>
                    <span class="dropdown-time">{{inHour(notification.created)}}</span>
                  </a>
                  <a ng-click="handleMyPersistentNotifications(notification)" ng-if=" notification.type != 'task' && notification.type != 'meeting' ">
                    <span class="glyphicon glyphicon-calendar" style="color: black"></span>
                    <small> Unidentified Notification created/updated by {{notification.user.displayName}}</small>
                    <span class="dropdown-time">{{inHour(notification.created)}}</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown-footer clearfix">
              <a href="/all-my-notifications" class="pull-left">See all notifications</a>
              <a href="#" class="pull-right">
                <i class="icon-settings"></i>
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="user-header">
          <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}">
            <span class="username"><span ng-bind="vm.authentication.user.displayName"></span></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="settings.profile"><i class="icon-user"></i><span>My Profile</span></a>
            </li>
            <li>
              <a href="/my-calendar"><i class="icon-calendar"></i><span>My Calendar</span></a>
            </li>
            <li>
              <a ng-click="logout($event)" target="_self"><i class="icon-logout"></i><span>Logout</span></a>
            </li>
          </ul>
        </li>
        <!-- END USER DROPDOWN -->
        <!-- CHAT BAR ICON -->
        <!-- <li id="quickview-toggle"><a ng-click="signout($event)"><i class="fa fa-power-off" aria-hidden="true"></i></a></li> -->
      </ul>
    </div>
    <!-- header-right -->
  </div>
</div>
