<section ng-init="loadInitial()">
    <div class="page-content">
        <div class="col-xlg-6 col-lg-6">
            <div class="row">
                <div class="panel no-bd bd-3 panel-stat">
                    <div class="panel-header">
                        <h3><i class="icon-graph"></i> <strong>Tasks</strong> STATISTIC</h3>
                        <div class="control-btn">
                            <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div layout="column">
                            <div flex></div>
                            <div class="radio">
                                <label style="color: #999">
                                    <input name="taskFilter" ng-model="model.taskFilter" type="radio" value="1" ng-click="taskFilter()"><span class="circle"></span><span class="check"></span> All the Tasks
                                </label>
                                <label style="color: #999">
                                    <input name="taskFilter" ng-model="model.taskFilter" type="radio" value="2" ng-click="taskFilter()"><span class="circle"></span><span class="check"></span> Assigned to Me
                                </label>
                            </div>
                            <div flex></div>
                        </div>
                         <canvas ng-if="model.taskFilter === 1 || model.taskFilter === '1'" id="all_tasks" class="full" height="200"></canvas>
                         <canvas ng-if="model.taskFilter === 2 || model.taskFilter === '2'" id="assigned_to_me" class="full" height="200"></canvas>
                     </div>                     
                 </div>
                 <div class="row m-t-10">
                    <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="panel">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                              <button type="button" class="btn btn-sm btn-icon btn-rounded" style="background-color: {{chart.backgroundColor[0]}}"></button>
                            </div>
                            <div class="right">
                              <p class="number countup">{{chart.data[0]}}</p>
                              <p class="text">{{chart.labels[0]}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="panel">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                               <button type="button" class="btn btn-sm btn-icon btn-rounded" style="background-color: {{chart.backgroundColor[1]}}"></button>
                            </div>
                            <div class="right">
                              <p class="number countup">{{chart.data[1]}}</p>
                              <p class="text">{{chart.labels[1]}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="panel">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                               <button type="button" class="btn btn-sm btn-icon btn-rounded" style="background-color: {{chart.backgroundColor[2]}}"></button>
                            </div>
                            <div class="right">
                              <p class="number countup">{{chart.data[2]}}</p>
                              <p class="text">{{chart.labels[2]}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="panel">
                        <div class="panel-content widget-info">
                          <div class="row">
                            <div class="left">
                               <button type="button" class="btn btn-sm btn-icon btn-rounded" style="background-color: {{chart.backgroundColor[3]}}"></button>
                            </div>
                            <div class="right">
                              <p class="number countup">{{chart.data[3]}}</p>
                              <p class="text">{{chart.labels[3]}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xlg-6 col-lg-6 col-visitors">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-header">
                            <h3><i class="mdi-content-content-paste"></i> <strong>Tasks</strong> Assigned to Me</h3>
                            <div class="control-btn">
                                <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover dataTable" id="table-editable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Task ID</th>
                                        <th class="text-center">Title</th>
                                        <th class="text-center">Priority</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="task in vm.pagedItems | orderBy: '-taskID'" ng-click="updateTask(task, true)">
                                        <td class="col-md-2 text-center">{{task.taskID}}</td>
                                        <td class="col-md-6 text-center">{{task.title}}</td>
                                        <td class="col-md-2 text-center">{{vm.getPriorityName(task.priority)}}</td>
                                    </tr>                      
                                </tbody>
                            </table>
                            <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"  ng-if="vm.pagedItems.length > 0"></uib-pagination>  

                          <div class="text-center" ng-if="vm.pagedItems.length <= 0">
                            <strong>No Task assigned to you, Enjoy the day !!! </strong>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>