<div ng-controller="HomeController as vm">
        <!-- <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#menu-example" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/#/dashboard">MD Pro Angular</a>
                </div>
                <div class="collapse navbar-collapse" id="menu-example">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">
                                <i class="material-icons">dashboard</i> Dashboard
                            </a>
                        </li>
                        <li class="">
                            <a href="/authentication/signup">
                                <i class="material-icons">person_add</i> Register
                            </a>
                        </li>
                        <li class="">
                            <a href="/authentication/signin">
                                <i class="material-icons">fingerprint</i> Login
                            </a>
                        </li>
                    </ul>                    
                </div>
            </div>
        </nav> -->
        <div class="full-page lock-page" filter-color="black" ng-hide="vm.authentication.user">            
            <div class="content">                
                <h1 style="text-align: center; color: #FFFFFF; margin-top: 180px;">Welcome to material design app</h1>
            </div>
            <!-- <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        ©
                        2018
                        <a href="https://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer> -->
            <div class="full-page-background" style="background-image: url(modules/core/client/img/lock.jpeg) "></div>
        </div>
    </div>
</div>