<section ng-init="loadInitial()">
  <div class="page-content">
    <div ng-if="vm.hasLoading" style="position: fixed; width: 100%; height: 100%;  top: 0; 
    left: 0;
    right: 0;
    bottom: 0; margin-top: 50px; margin-left: 120px; background-color: rgba(0,0,0,0.5);   z-index: 2; 
    cursor: pointer;" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="col-xlg-6 col-lg-6">
      <div class="row">
        <div class="panel no-bd bd-3 panel-stat">
          <div class="panel-header">
            <h3><i class="icon-graph"></i> <strong>Tasks</strong> STATISTIC</h3>
            <div class="control-btn">
              <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <div layout="column">
              <div flex></div>
              <div class="radio">
                <label style="color: #999">
                  <input name="taskFilter" ng-model="model.taskFilter" type="radio" value="1" ng-click="taskFilter()"><span class="circle"></span><span class="check"></span> Assigned to Me
                </label>
                <label style="color: #999">
                  <input name="taskFilter" ng-model="model.taskFilter" type="radio" value="2" ng-click="taskFilter()"><span class="circle"></span><span class="check"></span> All the Tasks
                </label>
              </div>
              <div flex></div>
            </div>
            <canvas ng-if="model.taskFilter === 2 || model.taskFilter === '2'" id="all_tasks" class="full" height="150"></canvas>
            <canvas ng-if="model.taskFilter === 1 || model.taskFilter === '1'" id="assigned_to_me" class="full" height="150"></canvas>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="chartData in chart.data track by $index">
            <div class="panel">
              <div class="panel-content widget-info">
                <div class="row">
                  <div class="left">
                    <button type="button" class="btn btn-sm btn-icon btn-rounded" style="background-color: {{chart.backgroundColor[$index]}}"></button>
                  </div>
                  <div class="right">
                    <p class="number countup">{{chart.data[$index]}}</p>
                    <p class="text">{{chart.labels[$index]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xlg-6 col-lg-6 col-visitors">
      <div class="row">
        <div class="col-md-12">
          <div class="panel no-bd bd-3 panel-stat">
            <div class="panel-header">
              <h3><i class="mdi-content-content-paste"></i> <strong>Today</strong> Tasks</h3>
              <div class="control-btn">
                <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-hover dataTable" id="table-editable">
                <thead>
                  <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="task in vm.pagedItems | orderBy: '-taskID'">
                    <td class="col-md-1 text-center"><a ui-sref="tasks.view({ taskId: task._id })"> {{task.taskCode}}</a></td>
                    <td class="col-md-4 text-center"><a ui-sref="tasks.view({ taskId: task._id })">{{task.title | trim: 18:false}}</a></td>
                    <td class="col-md-4 text-center">
                      <span class="hover-edit-trigger" ng-mouseover="task.statusMouseHover = true;" ng-mouseleave="task.statusMouseHover = false;" ng-hide="task.editStatus">{{vm.starCase(task.status)}}   <i class="edit-pencil fa fa-pencil" style="cursor: pointer" ng-click="task.editStatus = true;" ng-show="task.statusMouseHover"></i> </span>
                      <md-select name="status" ng-show="task.editStatus" ng-model="task.status">
                        <md-optgroup label="status">
                          <md-option ng-value="status.code" ng-repeat="status in vm.statuses" ng-click="updateStatus(task, status.code)">{{status.name}}</md-option>
                        </md-optgroup>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
              <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()" ng-if="vm.pagedItems.length > 0"></uib-pagination>
              <div class="text-center" ng-if="vm.pagedItems.length <= 0">
                <strong>No Task assigned to you, Enjoy the day !!! </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xlg-6 col-lg-6 col-visitors">
      <div class="row">
        <div class="col-md-12">
          <div class="panel no-bd bd-3 panel-stat">
            <div class="panel-header">
              <h3><i class="mdi-content-content-paste"></i> <strong>Today</strong> Meetings</h3>
              <div class="control-btn">
                <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-hover dataTable" id="table-editable">
                <thead>
                  <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Start Time</th>
                    <th class="text-center">End Time</th>
                    <th class="text-center">Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="meeting in vm.meetings | orderBy: '-startDateTime'">
                    <td class="col-md-6 text-center"><a ui-sref="meetings.view({ meetingId: meeting._id })"> {{meeting.title}}</a></td>
                    <td class="col-md-2 text-center">{{meeting.startDateTime | date: 'hh:ss a'}}</td>
                    <td class="col-md-2 text-center">{{meeting.endDateTime | date: 'hh:ss a' }}</td>
                    <td class="col-md-2 text-center">{{meeting.location}}</td>
                    
                  </tr>
                </tbody>
              </table>
              <div class="text-center" ng-if="vm.meetings.length <= 0">
                <strong>No Meetings Today !!! </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
