<div ng-controller="SidebarController as vm">
    <div class="sidebar" ng-show="vm.authentication.user" ng-style="ui.isAllowToClick ? {'pointer-events': 'none'} : {'pointer-events': 'visible'}" ng-init="CalendarClick = false; SettingsClick = false">
        <div class="logopanel">
          <h1 style="text-align: center; font-weight: bold;">
            Hydro
          </h1>
        </div>
        <div class="sidebar-inner scrollbar" style="height: 650px">
            <div class="sidebar-top small-img">
                <div class="user-image">
                  <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="img-responsive img-circle" >
                </div>
                <h4 class="col-md-offset-3" style="margin: 30px 0px 0px 15px">{{vm.authentication.user.displayName}}</h4>
            </div> 
            <hr>          
            <ul class="nav nav-sidebar">
                <li ng-class="{ 'nav-active active': isActive('/') }" ng-click="setActive($event)"><a href="/">
                    <i class="mdi-action-dashboard"></i><span>Dashboard</span></a>
                </li>

                <li ng-class="{ 'nav-active active': isActive('/tasks') }" ng-click="setActive($event)"><a href="/tasks">
                    <i class="mdi-action-assignment"></i><span>Tasks</span></a>
                </li>

                <li ng-class="{ 'nav-active active': isActive('/Tender') }" ng-click="setActive($event)"><a href="/tenders">
                    <i class="mdi-communication-business"></i><span>Tender Process</span></a>
                </li>

                <li ng-class="{ 'nav-active active': isActive('/projects') }" ng-click="setActive($event)"><a href="/projects">
                    <i class="mdi-maps-local-parking"></i><span>Projects</span></a>
                </li>

                <li ng-class="{ 'nav-active active': isActive('/admin/users') }" ng-show="vm.CommonService.hasAdmin(vm.authentication) || vm.CommonService.hasExecutive(vm.authentication) || vm.CommonService.hasVp(vm.authentication)"><a href="/admin/users">
                    <i class="icon-user"></i><span>Employees</span></a>
                </li>                
               
                <li class="nav-parent" ng-class="{ 'nav-active active': isActive('/meetings/list', '/attendances/list') }" ng-click="CalendarClick = !CalendarClick; SettingsClick = false">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-calendar"></i><span>My Calendar</span><span class="fa arrow" ng-class="{ 'active': CalendarClick }"></span></a>
                    <ul class="dropdown-menu child">  
                        <li ng-class="{ 'active': isChildrenActive('/attendances') }"><a href="/attendances">Attendance</a></li>
                        <li ng-class="{ 'active': isChildrenActive('/meetings') }"><a href="/meetings">Meetings</a></li>
                    </ul>
                </li>              

               <!--   <li class="nav-parent">
                    <a href=""><i class="icon-cup"></i><span>Extra </span><span class="fa arrow"></span></a>
                    <ul class="children collapse">
                        <li><a href="extra-fullcalendar.html"><span class="pull-right badge badge-primary">New</span> Fullcalendar</a></li>
                        <li><a href="extra-widgets.html"> Widgets</a></li>
                        <li><a href="page-coming-soon.html"> Coming Soon</a></li>
                        <li><a href="extra-sliders.html"> Sliders</a></li>
                        <li><a href="maps-google.html"> Google Maps</a></li>
                        <li><a href="maps-vector.html"> Vector Maps</a></li>
                        <li><a href="extra-translation.html"> Translation</a></li>
                    </ul>
                </li> -->

                <li class="nav-parent" ng-class="{ 'nav-active active': isActive('/admin/createuser, /refcodetasks, /statuses, /clearances') }" ng-show="vm.CommonService.hasAdmin(vm.authentication)"  ng-click="SettingsClick = !SettingsClick; CalendarClick = false">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-settings"></i><span>Settings </span><span class="fa arrow" ng-class="{ 'active': SettingsClick }"></span></a>
                    <ul class="dropdown-menu child">                        
                        <li ng-class="{ 'active': isChildrenActive('/admin/createuser') }"><a ui-sref="admin.user-create"> Create User</a></li>
                        <li ng-class="{ 'active': isChildrenActive('/refcodetasks') }"><a href="/refcodetasks"> Ref Code</a></li>
                        <li ng-class="{ 'active': isChildrenActive('/statuses') }"><a href="/statuses"> Status</a></li>
                        <li ng-class="{ 'active': isChildrenActive('/clearances') }"><a href="/clearances"> Clearance</a></li>
                    </ul>
                </li>

            </ul>
            <p class="menu-title widget-title" style="color: white; margin-left: 10px">Links :-</p>
            <ul class="col-md-offset-3" style="margin-top: 20px"> 
     <li style="display: inline-block;">
        <div ><a href="/contacts" title="Contacts"><span class="icon-user-following" style="font-size: 20px; color: white"></span></a></div>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
     <li style="display: inline-block;">
        <div ><a href="/file-managers" title="File-managers"><span class="icon-doc" style="font-size: 20px; color: white"></span></a></div>
    </li>&nbsp;&nbsp;&nbsp;&nbsp;
     <li style="display: inline-block;">
        <div ><a href="/reminders" title="Reminders"><span class="mdi-action-alarm" style="font-size: 20px; color: white"></span></a></div>
    </li>
   </ul>

            <!-- SIDEBAR WIDGET FOLDERS -->
         <!--    <div class="sidebar-widgets">
                <p class="menu-title widget-title">Directives</p>
                <ul class="folders">
                    <li>
                        <a href="/file-managers"><i class="icon-doc c-primary"></i>Documents Library</a> 
                    </li>
                    <li>
                        <a ng-click="setActive($event)" href="/contacts"><i class="icon-docs"></i>Contacts Library</a> 
                    </li>
                     <li>
                        <a ng-click="setActive($event)" href="/reminders"><i class="mdi-action-alarm" style="font-size: 16px"></i>Set Reminders</a> 
                    </li>
                </ul>
                <div class="pull-right">
                    <a style="cursor: pointer" ng-click="takeABreak()"><i class="fa fa-coffee" style="font-size: 40px"></i> </a>
                </div> 
            </div> -->          
        </div> 
           <div class="sidebar-widgets">
                <!-- <p class="menu-title widget-title">Directives</p>
                <ul class="folders">
                    <li>
                        <a href="/file-managers"><i class="icon-doc c-primary"></i>Documents Library</a> 
                    </li>
                    <li>
                        <a ng-click="setActive($event)" href="/contacts"><i class="icon-docs"></i>Contacts Library</a> 
                    </li>
                     <li>
                        <a ng-click="setActive($event)" href="/reminders"><i class="mdi-action-alarm" style="font-size: 16px"></i>Set Reminders</a> 
                    </li>
                </ul> -->
                  
                <div class="pull-right" style="margin-top: -70px;margin-right: 60px">
                    <a style="cursor: pointer" ng-click="takeABreak()"><i class="fa fa-coffee" style="font-size: 30px; color: white"></i> </a>
                </div> 
            </div>    
    </div>
</div>