<div ng-controller="SidebarController as vm">
    <div class="sidebar" ng-show="vm.authentication.user" ng-style="ui.isAllowToClick ? {'pointer-events': 'none'} : {'pointer-events': 'visible'}">
        <div class="logopanel">
          <h1 style="text-align: center; font-weight: bold;">
            Hydro
          </h1>
        </div>
        <div class="sidebar-inner">
            <div class="sidebar-top big-img">
                <div class="user-image">
                  <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="img-responsive img-circle" >
                </div>
                <h4 style="text-align: center;">{{vm.authentication.user.displayName}}</h4>
            </div>           
            <ul class="nav nav-sidebar">
                <li ng-class="{ 'nav-active active': isActive('/') }" ng-click="setActive($event)"><a href="/">
                    <i class="mdi-action-dashboard"></i><span>Dashboard</span></a>
                </li>

                <li ng-class="{ 'nav-active active': isActive('/tasks') }" ng-click="setActive($event)"><a href="/tasks">
                    <i class="mdi-action-assignment"></i><span>Tasks</span></a>
                </li>
                
                <li class="nav-parent" ng-class="{ 'nav-active active': isActive('/meetings/list', '/attendances/list') }">
                    <a href=""><i class="fa fa-calendar"></i><span>My Calendar</span><span class="fa arrow"></span></a>
                    <ul class="children collapse">
                        <li ng-class="{ 'active': isChildrenActive('/attendances') }"><a href="/attendances">Attendance</a></li>
                        <li ng-class="{ 'active': isChildrenActive('/meetings') }"><a href="/meetings">Meetings</a></li>
                    </ul>
                </li>

                <li ng-class="{ 'nav-active active': isActive('/admin/accounts') }"><a href="">
                    <i class="mdi-action-account-balance-wallet"></i><span>Accounts</span></a>
                </li>                

               <!--  <li class="nav-parent">
                    <a href=""><i class="icon-cup"></i><span>Extra </span><span class="fa arrow"></span></a>
                    <ul class="children collapse">
                        <li><a href="extra-fullcalendar.html"><span class="pull-right badge badge-primary">New</span> Fullcalendar</a></li>
                        <li><a href="extra-widgets.html"> Widgets</a></li>
                        <li><a href="page-coming-soon.html"> Coming Soon</a></li>
                        <li><a href="extra-sliders.html"> Sliders</a></li>
                        <li><a href="maps-google.html"> Google Maps</a></li>
                        <li><a href="maps-vector.html"> Vector Maps</a></li>
                        <li><a href="extra-translation.html"> Translation</a></li>
                    </ul>
                </li> -->

                <li class="nav-parent" ng-class="{ 'nav-active active': isActive('/admin/users, /admin/createuser') }" ng-show="vm.CommonService.hasExecutive(vm.authentication) || vm.CommonService.hasVp(vm.authentication)">
                    <a href=""><i class="icon-user"></i><span>Users </span><span class="fa arrow"></span></a>
                    <ul class="children collapse">
                        <li ng-class="{ 'active': isChildrenActive('/admin/users') }"><a href="/admin/users"> Users List</a></li>
                        <li ng-class="{ 'active': isChildrenActive('/admin/createuser') }"><a ui-sref="admin.user-create"> Create User</a></li>
                    </ul>
                </li>
            </ul>
            <!-- SIDEBAR WIDGET FOLDERS -->
            <div class="sidebar-widgets">
                <p class="menu-title widget-title">Directives</p>
                <ul class="folders">
                    <li>
                        <a href="/file-managers"><i class="icon-doc c-primary"></i>My documents</a> 
                    </li>
                    <li>
                        <a ng-click="setActive($event)" href="/contacts"><i class="icon-docs"></i>Contacts</a> 
                    </li>
                     <li>
                        <a ng-click="setActive($event)" href="/reminders"><i class="mdi-action-alarm" style="font-size: 16px"></i>Set Reminders</a> 
                    </li>
                </ul>
                <div class="pull-right">
                    <a style="cursor: pointer" ng-click="takeABreak()"><i class="fa fa-coffee" style="font-size: 40px"></i> </a>
                </div> 
            </div>          
        </div>    
    </div>
</div>