<md-dialog flex="50" style="left: 7%"> 
  <form name="vm.meetingForm" novalidate autocomplete="off">
    <div class="modal-header bg-primary">
      <h4>{{vm.meeting._id ? 'Edit Meeting' : 'Create Meeting'}}</h4>
    </div>
       <md-dialog-content style="padding-left: 24px">
            <div layout="column" flex>
              <md-input-container flex>
                <label class="my-label">Title</label>
                <input required type="text" name="title" ng-model="vm.meeting.title"/>
                <div ng-messages="vm.meetingForm.title.$error">
                  <div ng-message="required">Title is required.</div>
                </div>
              </md-input-container>
            </div>

            <div layout="row" flex>

              <md-input-container flex>
                <label class="my-label"><b>Start time</b></label>
                <div ng-click="showStartTimePicker($event)">
                 <input style="color: #000066; font-weight: bold;" required name="start" ng-model="vm.meeting.startTime" onfocus="this.blur()" readonly></input>
                </div>
                <div ng-messages="vm.meetingForm.start.$error">
                  <div ng-message="required">Start time is required.</div>
                  <div ng-message="lesser">Event start time should be before the end time.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label"><b>End time</b></label>
                <div ng-click="showEndTimePicker($event)">
                  <input style="color: #000066; font-weight: bold;" required name="end" ng-model="vm.meeting.endTime" onfocus="this.blur()" readonly></input>
                </div>
                <div ng-messages="vm.meetingForm.end.$error">
                  <div ng-message="required">End time is required.</div>
                  <div ng-message="greater">Event end time should be after the start time.</div>
                </div>
              </md-input-container>
            </div>

            <div layout="row" flex>
               <md-input-container flex>
                  <label class="my-label">Location</label>
                  <input required type="text" name="location" ng-model="vm.meeting.location"/>
                  <div ng-messages="vm.meetingForm.location.$error">
                    <div ng-message="required">Location is required.</div>
                  </div>
              </md-input-container>
                <md-input-container flex>
                  <label class="my-label">Facilitator</label>
                  <md-select
                      required
                      name="facilitator"
                      ng-model="vm.meeting.facilitator"
                      ng-model-options= "{trackBy: '$value._id'}">
                    <md-optgroup label="Facilitator">
                      <md-option ng-value="user" ng-repeat="user in vm.users">{{user.displayName}}</md-option>
                    </md-optgroup>
                  </md-select>                  
                  <div ng-messages="vm.meetingForm.facilitator.$error">
                    <div ng-message="required">Facilitator is required.</div>
                  </div>
              </md-input-container>
            </div>

            <div layout="column" flex>
              <md-input-container flex>
                  <label class="my-label">Attendees</label>
                  <md-select multiple
                      required
                      name="attendees"
                      ng-model="vm.meeting.attendees"
                      ng-model-options= "{trackBy: '$value._id'}">
                    <md-optgroup label="Attendees">
                      <md-option ng-value="user" ng-repeat="user in vm.users">{{user.displayName}}</md-option>
                    </md-optgroup>
                  </md-select>
                  <div ng-messages="vm.meetingForm.attendees.$error">
                    <div ng-message="required">Attendees is required.</div>
                  </div>
              </md-input-container>
            
            </div>
            <label class="my-label">Agenda: </label>
            <div layout="row">
              <md-input-container flex>
                <label class="my-label">Title</label>                      
                  <input type="text" name="agendaTitle" ng-model="unconfirmedAgenda.agendaTitle"  />
              </md-input-container> 
              <md-input-container flex>
                <label class="my-label">Description</label>                      
                  <input type="text" name="agendaDescription" ng-model="unconfirmedAgenda.agendaDescription" />
              </md-input-container>
              <md-input-container flex>
                <label class="my-label">Responsible Person</label>                      
                  <input type="text" name="agendaResponsiblePerson" ng-model="unconfirmedAgenda.agendaResponsiblePerson"  />
              </md-input-container>
               <div class="pull-right">
                  <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="addAgenda()" ng-disabled="unconfirmedAgenda.agendaResponsiblePerson === undefined || unconfirmedAgenda.agendaDescription === undefined || unconfirmedAgenda.agendaTitle === undefined || unconfirmedAgenda.agendaResponsiblePerson === '' || unconfirmedAgenda.agendaDescription === '' || unconfirmedAgenda.agendaTitle === ''" type="submit"><span class="glyphicon glyphicon-plus"></span></md-button>
              </div>
            </div> 
            <div layout="row" flex ng-repeat="agenda in vm.agendas track by $index" ng-init="addIsEdit(agenda)">        
               <md-input-container flex>
                  <label class="my-label">Title</label>                      
                    <input type="text" name="agendaTitle" ng-model="agenda.agendaTitle" ng-disabled="!agenda.isEdit"  />               
                </md-input-container> 
                <md-input-container flex>
                  <label class="my-label">Description</label>                      
                    <input type="text" name="agendaDescription" ng-model="agenda.agendaDescription" ng-disabled="!agenda.isEdit" />               
                </md-input-container>
                <md-input-container flex>
                  <label class="my-label">Responsible Person</label>                      
                    <input type="text" name="agendaResponsiblePerson" ng-model="agenda.agendaResponsiblePerson" ng-disabled="!agenda.isEdit"  />               
                </md-input-container>

              <div class="pull-right">  
              <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="isEdit(agenda)" type="submit"><span class="glyphicon glyphicon-pencil"></span></md-button>             
                <md-button class="md-raised btn-danger nonecase" style="min-width: 50px" ng-click="removeAgenda($index)" type="submit"><span class="glyphicon glyphicon-remove"></span></md-button>
              </div>
            </div>
                        
      </md-dialog-content>
     <md-dialog-actions layout="row">  
        <span flex></span>
        <md-button class="btn btn-next btn-fill btn-success btn-wd"  ng-hide="ui.isMeetingInProgress" flex ng-click="vm.save(vm.meetingForm.$valid)" type="submit">{{vm.meeting._id ? 'Update' : 'Create'}}</md-button>
        <md-button class="btn btn-next btn-fill btn-success btn-wd"  ng-disabled="true" flex ng-show="ui.isMeetingInProgress" type="submit"><i class="fa fa-spinner fa-spin"></i> {{vm.meeting._id ? 'Updating' : 'Creating'}}</md-button>
        <span flex></span>
        <md-button class="btn btn-next btn-fill btn-danger btn-wd" ng-show="ui.viewMode" flex ng-click="deleteMeeting()" type="submit">Delete</md-button>
        <span flex></span>
        <md-button class="btn btn-next btn-fill btn-warning btn-wd" flex ng-click="vm.cancel()" type="submit">Cancel</md-button>
        <span flex></span>
      </md-dialog-actions>   
  </form>
</md-dialog>
