<div class="col-md-12">
  <div class="page-content">
    <div class="panel-header">
      <h2><strong>{{vm.meeting._id ? 'Edit' : 'Create'}}</strong> Meeting &nbsp;<button class="delete btn btn-sm btn-danger" ng-if="vm.meeting._id" ng-click="deleteMeeting()"><i class="icons-office-52"></i> Delete</button></h2>
    </div>
    <div class="panel">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form name="vm.meetingForm" autocomplete="off" novalidate>
             <div layout="column" flex>
              <md-input-container flex>
                <label class="my-label">Title</label>
                <input required type="text" name="title" ng-model="vm.meeting.title" ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id"/>
                <div ng-messages="vm.meetingForm.title.$error">
                  <div ng-message="required">Title is required.</div>
                </div>
              </md-input-container>
            </div>

            <div layout="row" flex>
              <md-input-container flex>
                <label class="my-label"><b>Start time</b></label>
                <div ng-click="showStartTimePicker($event)">
                 <input style="color: #000066; font-weight: bold;" required name="start" ng-model="vm.meeting.startTime" onfocus="this.blur()" readonly />
                </div>
                <div ng-messages="vm.meetingForm.start.$error">
                  <div ng-message="required">Start time is required.</div>
                  <div ng-message="lesser">Event start time should be before the end time.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label"><b>End time</b></label>
                <div ng-click="showEndTimePicker($event)">
                  <input style="color: #000066; font-weight: bold;" required name="end" ng-model="vm.meeting.endTime" onfocus="this.blur()" readonly />
                </div>
                <div ng-messages="vm.meetingForm.end.$error">
                  <div ng-message="required">End time is required.</div>
                  <div ng-message="greater">Event end time should be after the start time.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                  <label class="my-label">Location</label>
                  <input required type="text" name="location" ng-model="vm.meeting.location" ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id"/>
                  <div ng-messages="vm.meetingForm.location.$error">
                    <div ng-message="required">Location is required.</div>
                  </div>
              </md-input-container>
            </div>

            <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label">Facilitator</label>
                  <md-select
                      required
                      name="facilitator"
                      ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id"
                      ng-model="vm.meeting.facilitator"
                      ng-model-options= "{trackBy: '$value._id'}">
                    <md-optgroup label="Facilitator">
                      <md-option ng-value="user" ng-repeat="user in vm.users">{{user.displayName}}</md-option>
                    </md-optgroup>
                  </md-select>
                  <div ng-messages="vm.meetingForm.facilitator.$error">
                    <div ng-message="required">Facilitator is required.</div>
                  </div>
              </md-input-container>

              <md-input-container flex>
                  <label class="my-label">Attendees</label>
                  <md-select multiple
                      required
                      name="attendees"
                      ng-model="vm.meeting.attendees"
                      ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id"
                      ng-model-options= "{trackBy: '$value._id'}">
                    <md-optgroup label="Attendees">
                      <md-option ng-value="user" ng-repeat="user in vm.users">{{user.displayName}}</md-option>
                    </md-optgroup>
                  </md-select>
                  <div ng-messages="vm.meetingForm.attendees.$error">
                    <div ng-message="required">Attendees is required.</div>
                  </div>
              </md-input-container>
            </div>

            <label class="my-label" style="padding-top: 20px">Agenda: </label>
            <div layout="row">
              <md-input-container flex>
                <label class="my-label">Title</label>
                  <input type="text" name="agendaTitle" ng-model="unconfirmedAgenda.agendaTitle"  ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id" style="font-weight: bold; color: black" />
              </md-input-container>
              <md-input-container flex>
                <label class="my-label">Description</label>
                  <textarea class="autoExpand" name="agendaDescription" ng-model="unconfirmedAgenda.agendaDescription" ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id" style="font-weight: bold; color: black"></textarea>
                  <!-- <input type="text" /> -->
              </md-input-container>
              <md-input-container flex>
                <label class="my-label">Responsible Person</label>
                  <input type="text" name="agendaResponsiblePerson" ng-model="unconfirmedAgenda.agendaResponsiblePerson" ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id" style="font-weight: bold; color: black"  />
              </md-input-container>
               <div class="pull-right">
                  <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="addAgenda()" ng-disabled="unconfirmedAgenda.agendaResponsiblePerson === undefined || unconfirmedAgenda.agendaDescription === undefined || unconfirmedAgenda.agendaTitle === undefined || unconfirmedAgenda.agendaResponsiblePerson === '' || unconfirmedAgenda.agendaDescription === '' || unconfirmedAgenda.agendaTitle === ''" type="submit"><span class="glyphicon glyphicon-plus"></span></md-button>
              </div>
            </div>
            <div layout="row" flex ng-repeat="agenda in vm.agendas track by $index" ng-init="addIsEdit(agenda)">
               <md-input-container flex>
                  <label class="my-label">Title</label>
                    <input type="text" name="agendaTitle" ng-model="agenda.agendaTitle" ng-disabled="!agenda.isEdit" style="font-weight: bold; color: black"  />
                </md-input-container>
                <md-input-container flex>
                  <label class="my-label">Description</label>
                    <textarea class="autoExpand" name="agendaDescription" ng-model="agenda.agendaDescription" ng-disabled="!agenda.isEdit" style="font-weight: bold; color: black"></textarea>
                    <!-- <input type="text"/>                -->
                </md-input-container>
                <md-input-container flex>
                  <label class="my-label">Responsible Person</label>
                    <input type="text" name="agendaResponsiblePerson" ng-model="agenda.agendaResponsiblePerson" ng-disabled="!agenda.isEdit" style="font-weight: bold; color: black"  />
                </md-input-container>

              <div class="pull-right">
              <md-button class="md-raised md-primary nonecase" style="min-width: 50px" ng-click="isEdit(agenda)" type="submit"><span class="glyphicon glyphicon-pencil"></span></md-button>
                <md-button class="md-raised btn-danger nonecase" style="min-width: 50px" ng-click="removeAgenda($index)" type="submit"><span class="glyphicon glyphicon-remove"></span></md-button>
              </div>
            </div>
              <div class="text-center  m-t-20">
                <md-button class="btn btn-next btn-fill btn-success btn-wd"  ng-hide="ui.isMeetingInProgress" ng-disabled="vm.authentication.user._id !== vm.originalMeeting.facilitator._id && vm.meeting._id" flex ng-click="vm.save(vm.meetingForm.$valid)" type="submit">{{vm.meeting._id ? 'Update' : 'Create'}}</md-button>
                <md-button class="btn btn-next btn-fill btn-success btn-wd"  ng-disabled="true" flex ng-show="ui.isMeetingInProgress" type="submit"><i class="fa fa-spinner fa-spin"></i> {{vm.meeting._id ? 'Updating' : 'Creating'}}</md-button>
                <a ui-sref="meetings.list" class="btn btn-next btn-fill btn-primary btn-wd">Back</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
