<div class="col-md-12" ng-init="vm.loadinitial()">
  <div class="page-content">
    <div class="panel-header">
      <h2>
        <strong>Create</strong> Task
        <sup>
          <span class="small" ng-show="vm.showSavingOffline"><i>Saving Offline </i> <i class="fa fa-spinner faa-spin animated undefined visible"></i></span>
          <span class="small" ng-show="vm.showSavedOffline"><i>Saved Offline </i> <i class="fa fa-laptop"></i> <button class="btn btn-xs btn-danger" ng-click="vm.removeLocalStorageNewTask()">Remove</button></span>
        </sup>
    </div>
    <div class="panel">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form name="vm.taskForm" autocomplete="off" novalidate>
             <div layout="row" flex>
              <md-input-container flex>
                <label class="my-label">Title</label>
                <input required type="text" name="title" ng-model="vm.task.title"/>
                <div ng-messages="vm.taskForm.title.$error">
                  <div ng-message="required">Title is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                  <label class="my-label">Description</label>
                  <input required type="text" name="description" ng-model="vm.task.description"/>
                  <div ng-messages="vm.taskForm.description.$error">
                    <div ng-message="required">Description is required.</div>
                  </div>
              </md-input-container>
            </div>

            <div layout="row" flex>

              <md-input-container flex>
                <label class="my-label"><b>Start Date</b></label>
                  <div ng-click="showStartDatePicker($event)">
                    <input style="color: #000066; font-weight: bold;" required name="start" ng-model="vm.task.startDateTime" onfocus="this.blur()" readonly />
                  </div>
                  <div ng-messages="vm.taskForm.start.$error">
                    <div ng-message="required">Start date is required.</div>
                    <div ng-message="lesser">Event start date should be before the end date.</div>
                  </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label"><b>Due Date</b></label>
                  <div ng-click="showEndDatePicker($event)">
                    <input style="color: #000066; font-weight: bold;" required name="end" ng-model="vm.task.dueDateTime" onfocus="this.blur()" readonly />
                  </div>
                  <div ng-messages="vm.taskForm.end.$error">
                    <div ng-message="required">End date is required.</div>
                    <div ng-message="greater">Event end date should be after the start date.</div>
                  </div>
              </md-input-container>
            </div>
            <div layout="row" flex>

              <md-input-container flex>
                <label class="my-label">Priority</label>
                <md-select
                        required
                        name="priority"
                        ng-model="vm.task.priority">
                  <md-optgroup label="Priority">
                    <md-option ng-value="priority.code" ng-repeat="priority in vm.priorities">{{priority.name}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="vm.taskForm.priority.$error">
                    <div ng-message="required">Priority is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label">Assignee:</label>
                <md-autocomplete class="noBorderAutocompletes" md-selected-item="vm.task.assignee" ng-model="vm.task.assignee" md-search-text="searchText" md-items="user in vm.getMatches(searchText)" md-item-text="user.displayName">
                  <md-item-template>
                    <span md-highlight-text="searchText">{{user.displayName}}</span>
                  </md-item-template>
                  <md-not-found>
                    No matches found.
                  </md-not-found>
                </md-autocomplete>
                <!-- <md-select
                      required
                      name="assignee"
                      ng-model="vm.task.assignee">
                  <md-optgroup label="Assignee">
                    <md-option  ng-value="user._id" ng-repeat="user in model.users">{{user.displayName}}</md-option>
                  </md-optgroup>
                </md-select> -->
                <div ng-messages="vm.taskForm.assignee.$error">
                    <div ng-message="required">Assignee is required.</div>
                </div>
              </md-input-container>
             </div>

             <div layout="row" flex>
              <md-input-container flex>
                <label class="my-label">Task Type</label> <br /><br />
                <md-radio-group ng-model="vm.hasIndividual" layout="row">
                <md-radio-button value="0" class="md-primary">Individual </md-radio-button>
                <md-radio-button value="1" class="md-primary"> Project </md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>

             <div layout="row" flex ng-if="vm.hasIndividual === '1'">

               <md-input-container flex>
                <label class="my-label">Project Name</label>
                <md-select
                        required
                        name="projectname"
                        ng-model="vm.task.projectCode">
                  <md-optgroup label="Project Name">
                    <md-option ng-value="project.code" ng-repeat="project in vm.projects">{{project.name}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="vm.taskForm.order.$error">
                    <div ng-message="required">Project Name is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label">Order Status</label>
                <md-select
                        required
                        name="order"
                        ng-model="vm.task.orderCode">
                  <md-optgroup label="Order Status">
                    <md-option ng-value="order.orderCode" ng-repeat="order in vm.refcodetasks[0].orderCodes">{{order.orderName ? order.orderName : order.orderCode | uppercase}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="vm.taskForm.order.$error">
                    <div ng-message="required">Order Status is required.</div>
                </div>
              </md-input-container>

               <md-input-container flex>
                <label class="my-label">State</label>
                <md-select
                        required
                        name="state"
                        ng-model="vm.task.stateCode">
                  <md-optgroup label="State">
                    <md-option ng-value="state.stateCode" ng-repeat="state in vm.refcodetasks[0].stateCodes">{{state.stateName ? state.stateName : state.stateCode | uppercase}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="vm.taskForm.state.$error">
                    <div ng-message="required">State is required.</div>
                </div>
              </md-input-container>

               <md-input-container flex>
                <label class="my-label">Work Category</label>
                <md-select
                        required
                        name="work"
                        ng-model="vm.task.workCode">
                  <md-optgroup label="Work Category">
                    <md-option ng-value="work.workCode" ng-repeat="work in vm.refcodetasks[0].workCodes">{{work.workName ? work.workName : work.workCode | uppercase}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="vm.taskForm.work.$error">
                    <div ng-message="required">Work Category is required.</div>
                </div>
              </md-input-container>
             </div>

             <div layout="row" flex>

              <md-input-container flex>
                <label class="my-label">Comments</label>
                <input type="text" name="comment" ng-model="vm.task.comment"/>
              </md-input-container>
             </div>
             <div layout="row" flex ng-if="vm.authentication.user._id === vm.task.assignee && ui.editMode">
              <md-input-container flex>
                <label class="my-label">Status</label>
                <md-select
                        name="status"
                        ng-model="vm.task.status">
                  <md-optgroup label="Status">
                    <md-option ng-value="status.code" ng-repeat="status in vm.statuses">{{status.name}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
             </div>
              <div class="text-center  m-t-20">
                <button type="submit" class="btn btn-next btn-fill btn-success btn-wd" ng-hide="ui.isTaskInProgress" ng-click="vm.save(vm.taskForm.$valid)" type="submit">Create</button>
                <button type="submit" class="btn btn-next btn-fill btn-success btn-wd" ng-show="ui.isTaskInProgress" ng-disabled="true"><i class="fa fa-spinner fa-spin" style="font-size: 18px"></i>Creating...</button>
                <a href="/tasks" class="btn btn-next btn-fill btn-primary btn-wd">Back</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
