<section ng-init="loadinitial()">
  <div class="page-content"  ng-if="vm.pagedItems.length > 0">
    <div class="header">
      <h2>Tasks <strong>List</strong></h2>
    </div>
    <div class="panel">
      <div class="panel-header md-panel-controls">
        <h3><i class="icon-magnifier"></i> <strong>Search Panel</h3>
      </div>
      <div class="panel-content">        
        <div class="row">
          <div class="col-md-12">
            <div layout="row" flex>
              <md-input-container flex>
                <label class="my-label">Keyword</label>
                <input type="text" name="keyword" ng-model="searchParams.keyword"/>               
              </md-input-container>              
              <md-input-container flex>
                  <label class="my-label">Status:</label>
                  <md-select name="status" ng-model="searchParams.status">
                    <md-optgroup label="Status">
                      <md-option ng-value=""></md-option>
                      <md-option ng-value="status.code" ng-repeat="status in vm.statuses">{{status.name}}</md-option>
                    </md-optgroup>
                  </md-select>  
                </md-input-container> 
                <md-input-container flex>
                  <label class="my-label">Assignee:</label>
                  <md-select name="assignee" ng-model="searchParams.assignee">
                    <md-optgroup label="Assignee">
                      <md-option ng-value=""></md-option>
                      <md-option  ng-value="user._id" ng-repeat="user in vm.users">{{user.displayName}}</md-option>
                    </md-optgroup>
                  </md-select>               
                </md-input-container>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="row">      
      <div class="col-lg-12 portlets">
        <div class="panel">          
          <div class="panel-header">              
              <div class="pull-left">
                <md-button class="btn btn-primary" ng-click="createOrUpdateTask(null, false)" type="submit"><i class="fa fa-plus"></i></md-button>
              </div>
          </div>             
          <div class="panel-content"> 
            <div class="control-btn">
              <a href="#" class="panel-reload hidden" ng-click="loadinitial()"><i class="icon-reload"></i></a>
            </div>                 
            <table class="table table-hover dataTable" id="table-editable">
              <thead>
                <tr>
                  <th>Task ID</th>
                  <th>Title</th>
                  <th>Priority</th>
                  <th>Assignee</th>
                  <th>Created By</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="task in filterTasks = (vm.pagedItems | filter: assigneefilterFunc(searchParams.assignee) | filter: statusFilterFunc(searchParams.status) | filter: searchParams.keyword) | orderBy: '-taskID'" ng-click="createOrUpdateTask(task, true)">
                  <td class="col-md-2">{{task.taskID}}</td>
                  <td class="col-md-4">{{task.title}}</td>
                  <td class="col-md-2">{{vm.getPriorityName(task.priority)}}</td> 
                  <td class="col-md-2">{{vm.getUserName(task.assignee).displayName}}</td>
                  <td class="col-md-2">{{task.createdBy}}</td>                  
                  <td class="col-md-2">{{vm.getStatusName(task.status)}}</td>                 
                </tr>                      
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"  ng-if="vm.pagedItems.length > 0"></uib-pagination>  
<div class="page-content">
  <div class="alert alert-warning text-center" ng-if="vm.pagedItems.length <= 0">
    No Tasks yet, <a style="color: #000; cursor: pointer;" ng-click="createOrUpdateTask(null, false)"> Click here to create</a>
  </div>
</div>
</section>



