<section class="row">
  <h3 class="col-md-12 text-center" style="color: white">Restore your password</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="email" class="text-center" style="color: white">Enter your Registered E-mail.</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" lowercase required autofocus>
          <div ng-messages="vm.forgotPasswordForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter your registered email.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary" ng-hide="vm.isButtonLoading" ng-disabled="!vm.forgotPasswordForm.$valid">Restore</button>
          <button type="submit" class="btn btn-primary" ng-show="vm.isButtonLoading" ><i class="fa fa-refresh fa-spin"></i> Loading</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
