<div class="container" id="login-block">
           <div class="row">
               <div class="col-sm-6 col-md-4 col-md-offset-4">
                   <div class="account-wall">
                       <i class="user-img icons-faces-users-03"></i>
                       <form class="form-password" role="form" style="display:block" name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" novalidate autocomplete="off">>
                           <div class="append-icon m-b-20">
                               <input class="form-control form-white" type="email" id="email" name="email" placeholder="Email" ng-model="vm.credentials.email" required autofocus>
                               <i class="icon-lock"></i>
                           </div>
                           <div ng-messages="vm.forgotPasswordForm.email.$error" role="alert">
                             <p class="help-block error-text" ng-message="required">Enter your registered email.</p>
                             <p class="help-block error-msg" ng-message="email">Email address is invalid.</p>
                           </div>
                           <br/>
                           <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                           <div class="clearfix">
                               <p class="text-center m-t-20"><a ui-sref="authentication.signin">Already got an account? Sign In</a></p>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
