<section>
  <div class="page-header">
    <h1>File managers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="file-manager in vm.fileManagers"
       ui-sref="fileManagers.view({ file-managerId: file-manager._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="fileManager.created | date:'mediumDate'"></span>
        by
        <span ng-if="fileManager.user" ng-bind="fileManager.user.displayName"></span>
        <span ng-if="!fileManager.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="file-manager.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.fileManagers.$resolved && !vm.fileManagers.length">
    No File managers yet, why don't you <a ui-sref="fileManagers.create">create one</a>?
  </div>
</section>
