<div class="col-md-12">
  <div class="page-content">
    <div class="panel-header">
      <h2><strong>Create</strong> new user</h2>
    </div>
    <div class="panel">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" autocomplete="off" novalidate>
              <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label">Firstname</label>
                  <input required type="text" name="firstname" ng-model="vm.credentials.firstName"/>
                  <div ng-messages="vm.userForm.firstname.$error">
                    <div ng-message="required">Firstname is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                    <label class="my-label">Lastname</label>
                    <input required type="text" name="lastname" ng-model="vm.credentials.lastName"/>
                    <div ng-messages="vm.userForm.lastname.$error">
                      <div ng-message="required">Lastname is required.</div>
                    </div>
                </md-input-container>
              </div>  

              <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label">Email Address</label>
                  <input required type="email" name="email" ng-model="vm.credentials.email"/>
                  <div ng-messages="vm.userForm.email.$error">
                    <div ng-message="required">Email address is required.</div>
                    <div ng-message="email">Email address is invalid.</div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                  <label class="my-label">Phone Number</label>
                  <input required type="text" name="mobile" ng-model="vm.credentials.mobileNumber"/>
                  <div ng-messages="vm.userForm.mobile.$error">
                    <div ng-message="required">Phone Number is required.</div>
                  </div>
                </md-input-container>
              </div>

              <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label">Current Address</label>
                  <input required type="text" name="currentaddress" ng-model="vm.credentials.currentAddress"/>
                  <div ng-messages="vm.userForm.currentaddress.$error">
                    <div ng-message="required">Current Address is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                    <label class="my-label">Permanent Address</label>
                    <input required type="text" name="permanentaddress" ng-model="vm.credentials.permanentAddress"/>
                    <div ng-messages="vm.userForm.permanentaddress.$error">
                      <div ng-message="required">Permanent Address is required.</div>
                    </div>
                </md-input-container>
              </div>

              <div layout="row" flex>
                 <md-input-container flex>
                    <label class="my-label">Designation</label>
                    <input required type="text" name="designation" ng-model="vm.credentials.designation"/>
                    <div ng-messages="vm.userForm.designation.$error">
                      <div ng-message="required">Designation is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label class="my-label">Department</label>
                    <input required type="text" name="department" ng-model="vm.credentials.department" />
                    <div ng-messages="vm.userForm.department.$error">
                      <div ng-message="required">Department is required.</div>
                    </div>
                </md-input-container>
              </div>

              <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label">Degree</label>
                  <input required type="text" name="degree" ng-model="vm.credentials.degree"/>
                  <div ng-messages="vm.userForm.degree.$error">
                    <div ng-message="required">Degree is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                    <label class="my-label">Work Experience</label>
                    <input required type="text" name="workexperience" ng-model="vm.credentials.workExperience"/>
                    <div ng-messages="vm.userForm.workexperience.$error">
                      <div ng-message="required">Work Experience is required.</div>
                    </div>
                </md-input-container>
              </div>

              <div layout="row" flex>
                <md-input-container flex="50">
                  <label class="my-label">Date Of Birth</label>
                   <md-datepicker required ng-model="vm.credentials.dob" md-current-view="year"></md-datepicker>
                  <div ng-messages="vm.userForm.dob.$error">
                    <div ng-message="required">DOB is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                    <label class="my-label">Blood Group</label>
                    <input required type="text" name="bloodgroup" ng-model="vm.credentials.bloodGroup"/>
                    <div ng-messages="vm.userForm.bloodgroup.$error">
                      <div ng-message="required">Blood Group is required.</div>
                    </div>
                </md-input-container>
              </div>

              <div layout="row" flex>
                <md-input-container flex>
                  <label class="my-label">Password</label>
                  <input required type="password" id="password" name="password"  ng-model="vm.credentials.password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator/>

                  <div ng-show='passwordErrors.length > 0 || vm.credentials.password'>
                       <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span>{{requirementsProgress}}%</span>
                          </uib-progressbar>
                      </div>
                      <div ng-messages="vm.userForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                    <div ng-repeat="passwordError in passwordErrors">
                          <p class="help-block error-text" style="color: #FF0000" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
                      </div>
                  </div>
                </md-input-container>

                <md-input-container flex>
                    <label class="my-label">Linked in</label>
                    <input type="url" name="linkedin" id="password" ng-model="vm.credentials.linkedin"/>
                    <div ng-messages="vm.userForm.linkedin.$error">
                      <div ng-message="url">Enter valid Linked URL.</div>
                    </div>
                </md-input-container>
              </div>

              <div layout="row" flex>
                  <md-input-container flex="50">
                    <label class="my-label">User Group</label>
                      <md-select required
                          name="usergroup"
                          ng-model="vm.credentials.userGroup">
                          <md-option ng-value="usergroup.code" ng-repeat="usergroup in vm.userGroups">{{usergroup.name}}</md-option>
                      </md-select>
                  </md-input-container>
              </div>
              <div class="text-center  m-t-20">
                <button type="submit" class="btn btn-embossed btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>