<div class="col-md-12">
  <div class="panel panel-default no-bd">
    <div class="panel-header bg-dark">
      <h2 class="panel-title"><strong>Add</strong> contact</h2>
    </div>
    <div class="panel-body bg-white">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img ng-src="/{{vm.authentication.user.profileImageURL}}" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <form name="vm.userForm" ng-submit="vm.contact(vm.userForm.$valid)" autocomplete="off" novalidate autocomplete="off">
            <div layout="row" flex>
              <md-input-container flex>
                <label class="my-label">Firstname</label>
                <input required type="text" name="firstname" ng-model="vm.credentials.firstName"/>
                <div ng-messages="vm.userForm.firstname.$error">
                  <div ng-message="required">Firstname is required.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                  <label class="my-label">Lastname</label>
                  <input required type="text" name="lastname" ng-model="vm.credentials.lastName"/>
                  <div ng-messages="vm.userForm.lastname.$error">
                    <div ng-message="required">Lastname is required.</div>
                  </div>
              </md-input-container>
            </div>  

            <div layout="column" flex>
              <md-input-container flex>
                <label class="my-label">Email Address</label>
                <input required type="email" name="email" ng-model="vm.credentials.email"/>
                <div ng-messages="vm.userForm.email.$error">
                  <div ng-message="required">Email address is required.</div>
                  <div ng-message="email">Email address is invalid.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label">Phone Number</label>
                <input required type="text" name="mobile" ng-model="vm.credentials.mobileNumber"/>
                <div ng-messages="vm.userForm.mobile.$error">
                  <div ng-message="required">Phone Number is required.</div>
                </div>
              </md-input-container>
           
               <md-input-container flex>
                  <label class="my-label">Designation</label>
                  <input required type="text" name="designation" ng-model="vm.credentials.designation"/>
                  <div ng-messages="vm.userForm.designation.$error">
                    <div ng-message="required">Designation is required.</div>
                  </div>
              </md-input-container>

              <md-input-container flex>
                  <label class="my-label">Department</label>
                  <input required type="text" name="department" ng-model="vm.credentials.department" />
                  <div ng-messages="vm.userForm.department.$error">
                    <div ng-message="required">Department is required.</div>
                  </div>
              </md-input-container>

              <md-input-container flex>
                  <label class="my-label">State</label>
                  <input required type="text" name="state" ng-model="vm.credentials.state"/>
                  <div ng-messages="vm.userForm.state.$error">
                    <div ng-message="required">State is required.</div>
                  </div>
              </md-input-container>  

              <md-input-container flex>
                  <label class="my-label">Board/Company</label>
                  <input required type="text" name="company" ng-model="vm.credentials.company"/>
                  <div ng-messages="vm.userForm.company.$error">
                    <div ng-message="required">Board/Company is required.</div>
                  </div>
              </md-input-container>
              <md-input-container>
                <label class="my-label">Visible To:</label>
                <md-select  multiple 
                      required
                      name="visible"
                      ng-model="vm.credentials.visible">
                  <md-optgroup label="Visible">
                    <md-option ng-value="userGroup.code" ng-repeat="userGroup in vm.userGroups">{{userGroup.name}}</md-option>
                  </md-optgroup>
                </md-select>
                <div ng-messages="reports.visible.$error">
                    <div ng-message="required">Visible To is required.</div>
                </div>
            </md-input-container>


            </div>
            <div class="text-center  m-t-20">
              <button type="submit" class="btn btn-embossed btn-primary">Sign Up</button>
              <button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>