<md-dialog flex="50" style="left: 7%"> 
  <form name="vm.leaveForm" novalidate autocomplete="off">
    <div class="modal-header bg-primary">
      <h4>Apply {{vm.hasApplyLeave ? ' Leave' : ' Permission'}} </h4>
    </div>
       <md-dialog-content>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px">
          <div layout="row" flex ng-if="!vm.hasApplyLeave">
              <md-input-container flex>
                <label class="my-label"><b>From</b></label>
                <div>
                 <input ng-click="showStartTimePicker($event)" style="color: #000066; font-weight: bold;" ng-disabled="!vm.createMode && !vm.approvedMode" required name="start" ng-model="vm.attendances.applyPermission.displayStartTime" onfocus="this.blur()" ng-readonly="!vm.createMode && !vm.approvedMode"></input>
                </div>
                <div ng-messages="vm.leaveForm.start.$error">
                  <div ng-message="required">From time is required.</div>
                  <div ng-message="lesser">Permission from time should be before the to time.</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label"><b>To</b></label>
                <div>
                  <input ng-click="showEndTimePicker($event)" style="color: #000066; font-weight: bold;" required name="end" ng-disabled="!vm.createMode && !vm.approvedMode" ng-model="vm.attendances.applyPermission.displayEndTime" onfocus="this.blur()" ng-readonly="!vm.createMode && !vm.approvedMode"></input>
                </div>
                <div ng-messages="vm.leaveForm.end.$error">
                  <div ng-message="required">To time is required.</div>
                  <div ng-message="greater">Permission to time should be after the from time.</div>
                </div>
              </md-input-container>
          </div>
          <div layout="row" flex ng-if="vm.hasApplyLeave">            
              <md-input-container flex>
                <label class="my-label"><b>From</b></label>
                  <div>
                    <input ng-click="showStartDatePicker($event)" style="color: #000066; font-weight: bold;" required name="start" ng-model="vm.attendances.applyLeave.displayStartTime" ng-disabled="!vm.createMode && !vm.approvedMode" onfocus="this.blur()" ng-readonly="!vm.createMode && !vm.approvedMode"></input>
                  </div>
                  <div ng-messages="vm.leaveForm.start.$error">
                    <div ng-message="required">From date is required.</div>
                    <div ng-message="lesser">Leave from date should be before the to date.</div>
                  </div>
              </md-input-container>

              <md-input-container flex>
                <label class="my-label"><b>To</b></label>
                  <div>
                    <input ng-click="showEndDatePicker($event)" style="color: #000066; font-weight: bold;" required name="end" ng-model="vm.attendances.applyLeave.displayEndTime" ng-disabled="!vm.createMode && !vm.approvedMode" onfocus="this.blur()" ng-readonly="!vm.createMode && !vm.approvedMode"></input>
                  </div>
                  <div ng-messages="vm.leaveForm.end.$error">
                    <div ng-message="required">To date is required.</div>
                    <div ng-message="greater">Leave to date should be after the from date.</div>
                  </div>
              </md-input-container>
          </div>
          <div layout="row" flex>
              <md-input-container flex>
                <label class="my-label">Reason</label>
                <input required type="text" name="reason" ng-model="vm.reason" ng-readonly="!vm.createMode && !vm.approvedMode"/>
                <div ng-messages="vm.leaveForm.reason.$error">
                  <div ng-message="required">Reason is required.</div>
                </div>
              </md-input-container>
            </div>
          <div layout="row" flex >
              <md-input-container flex>
                <label class="my-label">Comments</label>
                <input type="text" name="comments" ng-model="vm.comments" ng-readonly="!(vm.CommonService.hasExecutive(vm.authentication) || vm.CommonService.hasVp(vm.authentication))"/>
                <small>Authorize only for Executive and vp</small>
              </md-input-container>
            </div>
        </div>
      </md-dialog-content>
     <md-dialog-actions layout="row"> 
        <md-button class="btn btn-next btn-fill btn-success btn-sm" flex ng-click="vm.save(vm.leaveForm.$valid)" ng-hide="((vm.authentication.user._id !== vm.userId && vm.approvedMode) || (!vm.createMode && !vm.approvedMode))" type="submit">{{!vm.createMode ? 'Edit' : 'Apply'}}</md-button>         
        <md-button class="btn btn-next btn-fill btn-success btn-sm" flex ng-click=" vm.isApproved=true; vm.save(vm.leaveForm.$valid);" ng-show="vm.approvedMode && (vm.CommonService.hasExecutive(vm.authentication) || vm.CommonService.hasVp(vm.authentication))" type="submit">Approve</md-button>
        <md-button class="btn btn-next btn-fill btn-info btn-sm" flex ng-click="vm.isApproved=false; vm.save(vm.leaveForm.$valid)" ng-show="vm.approvedMode && (vm.CommonService.hasExecutive(vm.authentication) || vm.CommonService.hasVp(vm.authentication))" type="submit">Hold</md-button>
        <md-button class="btn btn-next btn-fill btn-blue btn-sm" flex ng-click="vm.checkTaskList()" ng-show="vm.approvedMode && (vm.CommonService.hasExecutive(vm.authentication) || vm.CommonService.hasVp(vm.authentication))" type="submit"> Check task list </md-button>
       <!--  <md-button class="btn btn-next btn-fill btn-danger btn-sm" ng-show="!vm.createMode && vm.approvedMode" flex ng-click="deleteLeaveOrPermission()" type="submit">Delete</md-button> -->
        <md-button class="btn btn-next btn-fill btn-warning btn-sm" flex ng-click="vm.cancel()" type="submit">Cancel</md-button>
      </md-dialog-actions>   
  </form>
</md-dialog>
