<section ng-init="loadInitial()">
  <div class="page-content">
    <div class="header">
      <h2><strong>Attendances</strong></h2>
    </div> 

    <div class="panel">
      <div class="control-btn">
                <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
             </div>
      <div class="page-content">
        <div class="row">
          <div class="col-md-4">
            <div layout="row" flex>             
                <md-input-container flex>
                  <label class="my-label">Employee:</label>
                  <md-select ng-change="findAttendancesByUser()" name="assignee" ng-model="searchParams.assignee">
                    <md-optgroup label="Employee">
                      <md-option  ng-value="user._id" ng-repeat="user in model.users">{{user.displayName}}</md-option>
                    </md-optgroup>
                  </md-select>               
                </md-input-container>
            </div>
          </div>          
        </div>
        <div layout="row">
          <div flex=100 id="calendar" class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
        </div>
      </div>
    </div>
  </div>
</section>