<section>
  <div class="page-header">
    <h1>Attendances</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="attendance in vm.attendances"
       ui-sref="attendances.view({ attendanceId: attendance._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="attendance.created | date:'mediumDate'"></span>
        by
        <span ng-if="attendance.user" ng-bind="attendance.user.displayName"></span>
        <span ng-if="!attendance.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="attendance.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.attendances.$resolved && !vm.attendances.length">
    No Attendances yet, why don't you <a ui-sref="attendances.create">create one</a>?
  </div>
</section>
