<div class="col-lg-6 col-md-offset-3 portlets">
  <div class="panel">
    <div class="panel-header md-panel-controls">
      <h3><i class="icon-layers"></i> Edit Profile</h3>
    </div>
    <div class="panel-content">
      <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
        <div layout="column" flex>
          <md-input-container flex>
            <label class="my-label">First Name</label>
            <input type="text" id="firstName" name="firstName"  ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
            <div ng-messages="vm.userForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">First name is required.</p>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName"  ng-model="vm.user.lastName" placeholder="Last Name" required>
            <div ng-messages="vm.userForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Last name is required.</p>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label for="email">Email</label>
            <input type="email" id="email" name="email"  ng-model="vm.user.email" placeholder="Email"  ng-disabled="true" lowercase required>
            <div ng-messages="vm.userForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Email address is required.</p>
              <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label for="mobile">Phone</label>
            <input type="phone" id="phone" name="mobile"  ng-model="vm.user.mobileNumber" placeholder="Phone" lowercase required>
            <div ng-messages="vm.userForm.mobileNumber.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Phone number is required.</p>
              <p class="help-block error-text" ng-message="mobileNumber">Phone number is invalid.</p>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label for="department">Department</label>
            <input type="text" id="department" name="department"  ng-model="vm.user.department" placeholder="Department" required>
            <div ng-messages="vm.userForm.department.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Phone number is required.</p>
              <p class="help-block error-text" ng-message="department">Phone number is invalid.</p>
            </div>
          </md-input-container>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Save Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
