<div class="container" id="login-block">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3">
                    <div class="account-wall">
                        
                        <form class="form-signup" action="dashboard.html" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="append-icon">
                                        <input type="text" name="firstname" id="firstname" class="form-control form-white firstname" placeholder="First Name" required autofocus>
                                        <i class="icon-user"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="append-icon">
                                        <input type="text" name="lastname" id="lastname" class="form-control form-white lastname" placeholder="Last Name" required>
                                        <i class="icon-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="append-icon">
                                <input type="email" name="email" id="email" class="form-control form-white email" placeholder="Email" required>
                                <i class="icon-envelope"></i>
                            </div>
                            <div class="append-icon">
                                <input type="password" name="password" id="password" class="form-control form-white password" placeholder="Password" required>
                                <i class="icon-lock"></i>
                            </div>
                            <div class="append-icon m-b-20">
                                <input type="password" name="password" id="password2" class="form-control form-white password2" placeholder="Repeat Password" required>
                                <i class="icon-lock"></i>
                            </div>                            
                            <button type="submit" id="submit-form" class="btn btn-lg btn-dark m-t-20" data-style="expand-left">Register</button>                           
                        </form>
                    </div>
                </div>
            </div>           
           
        </div>