<div class="col-md-12" ng-init="vm.loadinitial()">
  <div class="page-content">
    <div class="panel-header">
      <h2><strong>{{vm.tenderprocess._id ? 'Edit ' : 'New'}}</strong> Tenderprocess</h2>
    </div>
    <div class="panel">
      <div class="panel-content">
        <div class="row">          
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="vm.myTabIndex">
              <md-tab label="Tenders List" index="0" heading="Tenders List" ui-sref="tenderprocesses.list" flex></md-tab>
              <md-tab label="NIT" index="1" heading="NIT" ui-sref="tenderprocesses.nit" flex></md-tab>
              <md-tab label="Checklist" index="2"  heading="Checklist" ui-sref="tenderprocesses.checklist" flex></md-tab>
              <md-tab label="EMD" index="3" heading="EMD" ui-sref="tenderprocesses.emd" flex></md-tab>
              <md-tab label="ItemSheet" index="4" heading="ItemSheet" ui-sref="tenderprocesses.itemsheet" flex></md-tab>
              <md-tab label="BoQ" index="5" heading="BoQ" ui-sref="tenderprocesses.boq" flex></md-tab>
              <md-tab label="Enquiry" index="6" heading="Enquiry" ui-sref="tenderprocesses.enquiry" flex></md-tab>
              <md-tab label="Quote Form" index="7" heading="Quote Form" ui-sref="tenderprocesses.quoteform" flex></md-tab>
              <md-tab label="Estimation" index="8" heading="Estimation" ui-sref="tenderprocesses.estimation" flex></md-tab>             
            </md-tabs>
          </md-content>
          <div class="md-padding">
            <div ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
