<section>
  <div class="page-header">
    <h1 ng-bind="vm.clearance.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.clearance.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="clearances.edit({ clearanceId: vm.clearance._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.clearance.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.clearance.user"
            ng-bind="vm.clearance.user.displayName"></span>
      <span ng-if="!vm.clearance.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.clearance.content"></p>
</section>
